@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

@import 'compass';
@import 'compass/css3';

$primary-color: #014362;
$primary-color--accent: #0287C3;

$range-height: 1px;
$range-thumb: 20px;


%display-flex {
  @include flexbox((
    display: flex,
  ), 1 2 3);
  @include flexbox((
    display: flex,
  ), 3);
}

%justify-content {
  &--center {
    @include flexbox((
      justify-content: center
    ), 1 2 3);
    @include flexbox((
      justify-content: center
    ), 3);
  }
  &--space-around {
    @include flexbox((
      justify-content: space-around
    ), 1 2 3);
    @include flexbox((
      justify-content: space-around
    ), 3);
  }
}

%align-items {
  &--center {
    @include flexbox((
      align-items: center
    ), 1 2 3);
    @include flexbox((
      align-items: center
    ), 3);
  }
}

%flex-wrap {
  &--wrap {
    @include flexbox((
      flex-wrap: wrap
    ), 1 2 3);
    @include flexbox((
      flex-wrap: wrap
    ), 3);
  }
}

* {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
}
html, body {
  height: auto;
  min-height: 100%;
  background: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@mixin input-range--track($height, $color, $radius) {
  width: 100%;
  height: $height;
  cursor: pointer;
  border: none;
  background: $color;
  @include box-shadow(none);
  @include border-radius($radius);
}

@mixin input-range--thumb($width, $height, $color) {
  position: relative;
  top: 50%;
  width: $width;
  height: $height;
  border: none;
  cursor: pointer;
  background: $color;
  @include transform(translate(0, -50%));
  @include border-radius(50%);
  @include box-shadow(0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12));
  @include appearance(none);
  @include transition(all 0.3s ease);
}

input[type=range] {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 90%;
  max-width: 320px;
  margin: 16px 0;
  @include transform(translate(-50%, -50%));
  @include border-radius(8px);
  @include appearance(none);
  &:focus {
    outline: none;
    &::-webkit-slider-thumb {
      background-color: $primary-color--accent;
    }
    &::-moz-range-thumb {
      background-color: $primary-color--accent;
    }
    &::-ms-thumb {
      background-color: $primary-color--accent;
    }
  }
  &::-webkit-slider {
    &-runnable-track {
      @include input-range--track($range-height, $primary-color, $range-height);
    }
    &-thumb {
      @include input-range--thumb($range-thumb, $range-thumb, $primary-color);
    }
  }
  &::-moz-range {
    &-track {
      @include input-range--track($range-height, $primary-color, $range-height);
    }
    &-thumb {
      @include input-range--thumb($range-thumb, $range-thumb, $primary-color);
    }
  }

  &::-ms {
    &-track {
      @include input-range--track($range-height, $primary-color, $range-height);
    }
    &-thumb {
      @include input-range--thumb($range-thumb, $range-thumb, $primary-color);
    }
    &-fill-lower, &-fill-upper {
      background: $primary-color;
      border: none;
      @include border-radius(50%);
      @include box-shadow(none);
    }
  }
}
